@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #fafff5;
    --background: #090f00;
    --primary: #80ed02;
    --secondary: #018301;
    --accent: #01bc36;
  }
}